body {
    background-image: url(../imagee/yam2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}
label {
    color: white;
}
h1 {
    color: white;
}
p {
    color: white;
}
button {
    width: 90px;
    height: 40px;
    color: blueviolet;
    font-size: 15px;
    
}
button:hover{
    background-color: rgb(179, 11, 11);

}
a {
    color: white;
    font-size: 20px;
    text-decoration: none;

}