.one {
    color: brown;
}
.two{
    color: blueviolet;
}

.image {
    height: 150px;
    width: 200px;
    border-radius: 100%;
}

body {
    background-image: url('imagee/yamm.jpg');
}
 button {
    background-color: rgb(235, 19, 235);
    color: white;
    width: 100px;
    height: 30px;

}
a {
    text-decoration: none;
}
